name: Send new issue to Telegram
on:
  issues:
    types: [opened, reopened]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Send Telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHANNEL_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.event.issue.user.login }} created new issue "${{ github.event.issue.title }}"
            See more by https://github.com/${{ github.repository }}/issues/${{ github.event.issue.number }}
